{% set cron_defaults = salt['grains.filter_by']({

    'Ubuntu-12.04': {
			'default_minute': '10',
			'default_hour': '*',
			'default_dayweek': '*',
			'default_daymonth': '*',
			'default_user': 'root',
			'default_random_delay': '0',
			'default_one_instance': False,
			'default_comment': '',
			'default_log': '/var/log/cron.log',
			'default_enabled': True
    },

    'Ubuntu-14.04': {
    	'default_minute': '10',
			'default_hour': '*',
			'default_dayweek': '*',
			'default_daymonth': '*',
			'default_user': 'root',
			'default_random_delay': '0',
			'default_one_instance': False,
			'default_comment': '',
			'default_log': '/var/log/cron.log',
			'default_enabled': True
    },

    'Unknown': {
    	'default_minute': '*/30',
			'default_hour': '*',
			'default_dayweek': '*',
			'default_daymonth': '*',
			'default_user': 'root',
			'default_random_delay': '0',
			'default_one_instance': False,
			'default_comment': '',
			'default_log': '/var/log/cron.log',
			'default_enabled': True
    }

}, grain='osfinger', merge=salt['pillar.get']('cron',{}), default='Unknown') %}

